// About Smart City Mission
color: black;
 font-size: 28px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 36px;
 word-wrap: break-word
---
// <br/>Welcome to Smart City <br/><br/>Mission
color: white;
 font-size: 64px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 48px;
 word-wrap: break-word
---
// Smart Cities Mission was launched by the Hon’ Prime Minister on 25 June, 2015. The main objective of the Mission is to promote cities that provide core infrastructure, clean and sustainable environment and give a decent quality of life to their citizens through the application of ‘smart solutions’. The Mission aims to drive economic growth and improve quality of life through comprehensive work on social, economic, physical and institutional pillars of the city. The focus is on sustainable and inclusive development by creation of replicable models which act as lighthouses to other aspiring cities. 100 cities have been selected to be developed as Smart Cities through a two-stage competition.<br/><br/>The Mission is operated as a Centrally Sponsored Scheme. Central Government will give financial support to the extent of Rs. 48,000 crores over 5 years i.e. on an average Rs.100 crore per city per year. An equal amount on a matching basis is to be provided by the State/ULB. Additional resources are to be raised through convergence, from ULBs’ own funds, grants under Finance Commission, innovative finance mechanisms such as Municipal Bonds, other government programs and borrowings. Emphasis has been given on the participation of private sector through Public Private Partnerships (PPP). Citizens’ aspirations were captured in the Smart City Proposals (SCPs) prepared by the selected cities. Aggregated at the national level, these proposals contained more than 5,000 projects worth over Rs. 2,00,000 crores, of which 45 percent is to be funded through Mission grants, 21 percent through convergence, 21 percent through PPP and rest from other sources.<br/><br/>
color: black;
 font-size: 32px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 48px;
 word-wrap: break-word
---
// In the context of our country, the six fundamental principles on which the concept of Smart Cities is based are:
color: #17F67E;
 font-size: 32px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 48px;
 word-wrap: break-word
---
// Existing Smart City<br/> <br/>
color: black;
 font-size: 64px;
 font-family: Roboto;
 font-style: italic;
 font-weight: 800;
 line-height: 16px;
 word-wrap: break-word
---
// <br/><br/><br/>  
color: black;
 font-size: 64px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Some Smart Cities Projects
color: black;
 font-size: 40px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 48px;
 word-wrap: break-word
---
// Dholera Smart City Project
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 28px;
 word-wrap: break-word
---
// Dholera is a town in Ahmedabad district of Gujarat state.
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Smart metres
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Sustainability
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Solar electricity
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Urban planning
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Amravati Smart City
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 28px;
 word-wrap: break-word
---
// Amravati is the second largest city in the Vidarbha region and ninth largest city in Maharashtra
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Education
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Shopping Malls
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Tourism
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Landmark Development
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// <br/>
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Dehradun Smart City
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 28px;
 word-wrap: break-word
---
// Dehradun is the capital and the most populous city of the Indian state of Uttarakhand.
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Smart School
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Creche Building
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Tree Plantation
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Solar Energy
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Jhansi Smart City
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 28px;
 word-wrap: break-word
---
// Jhansi is a historic city in the Indian state of Uttar Pradesh. Balwant Nagar was the old name of Jhansi.
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Tourism
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Education
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Infrastructure
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Solar Lighting
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// <br/>      <br/>
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// Dholera Smart City Project<br/><br/>
color: black;
 font-size: 48px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// <br/>What is Dholera Smart City?<br/>
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
//  <br/>
color: black;
 font-size: 48px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// Dholera is an upcoming smart city located in the Ahmedabad District of Gujarat, India. When completed, it will be one of the largest smart cities in the country and a model for other major cities in India. The city is being developed by the Dholera SIR, a Special Investment Region (SIR) developed by the Gujarat government. Dholera SIR is expected to contribute $110 billion to the Indian economy and create 1.2 million jobs by 2040. The city will be developed over 4,500 acres of land. Once completed, the city will have a population of 1 million people. The city is expected to be completed by 2040.
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
//   <br/>
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// Timeline for Dholera Smart City<br/><br/>
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// The Gujarat government has been considering the development of Dholera as a new city since 2005. However, it wasn’t until 2011 that the government began actively pursuing the city’s development. The government announced their decision to develop Dholera as a Special Investment Region (SIR) in 2013, and the city was officially announced as a smart city in 2016. The first construction phase is expected to finish by 2022, and the project is expected to be completed by 2040
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// .<br/>
color: black;
 font-size: 30px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// <br/><br/>Pros and cons of developing<br/><br/>
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// Pros<br/>
color: black;
 font-size: 28px;
 font-family: Roboto;
 font-weight: 600;
 line-height: 24px;
 word-wrap: break-word
---
// The city is being developed with the latest infrastructure and technology, which will make it a world-class city.<br/>The city will have a well-planned transportation system, with an international airport and a high-speed rail link to Delhi and Mumbai.<br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// <br/>
color: black;
 font-size: 30px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Cons<br/>
color: black;
 font-size: 28px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
//  
color: black;
 font-size: 30px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
//  1. Developing Dholera as a smart city is that it<br/>     would require a significant investment.<br/>  2. There is also a risk that the city may not be<br/>      able to attract enough people as it is not that much<br/>      famous.<br/><br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// <br/>Conclusion<br/><br/>
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// The Dholera Smart City is progressing well and is on track to becoming one of the most advanced and well-connected cities in India. The city has been designed with cutting-edge technology and infrastructure to offer people a high quality of life. The city is also expected to create many jobs and attract investment from both domestic and foreign companies.<br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Amravati Smart City Project
color: black;
 font-size: 48px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// <br/>What is Amravati Smart City?
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// Amaravati has been selected in Round 3 of the Smart City Challenge (June 2017). As per the Smart Cities Mission Guidelines, a Special Purpose Vehicle is required to be established by each selected smart city with a Managing Team and apprise the Ministry about the action taken regularly. Accordingly, a SPV has been incorporated in the name and style of “Amaravati Smart & Sustainable City Corporation Limited” on 21.11.2017 by the Ministry of Corporate Affairs.The projects proposed under the Amaravati Smart Cities Mission are dovetailed with the ongoing projects being executed by 
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// <br/>
color: black;
 font-size: 48px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// APCRDA under Amaravati Capital City construction works and are aimed to develop Amaravati as an innovative and eco-friendly city with self-sustaining infrastructure and natural ecosystems that uses ICTs to improve quality of life, the efficiency of urban operations and services and competitiveness, while ensuring that it meets the needs of present and future generations with respect to economic, social, environmental and
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
//  
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// cultural aspects.<br/><br/><br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Pros and cons of developing<br/><br/>Pros<br/>
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// The city is being developed with the latest infrastructure and technology, which will make it a world-class city.<br/>The city will have a well-planned transportation system, with an international airport.<br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// <br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Cons<br/>
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
//   1.  Developing Amravati as a smart city is that it<br/>      would require a significant investment and a lot of time.<br/>  2.  There is also a risk that the city may not be<br/>      able to attract enough people.
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Dehradun Smart City Project
color: black;
 font-size: 48px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// <br/>
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28px;
 word-wrap: break-word
---
// What is Dehradun Smart<br/><br/>City?<br/>
color: black;
 font-size: 48px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28px;
 word-wrap: break-word
---
// <br/>
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 28px;
 word-wrap: break-word
---
// Dehradun- the capital of Uttarakhand- is among the oldest cities of India, situated in the foothills of the Himalayas and Shivalik mountain region. The city is also known as Doon, meaning valley, which houses many tourist attractions like Barkot temple, Robbers Cave, Clement Town, etc. To make the city more liveable for the citizens and promote tourism, the city was listed in
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// the Smart City Mission in phase 4 by the Government of India. Dehradun was declared a part of the Smart City Mission project in Phase 4 and was one of the 100 smart cities selected by the government of India. The city was included in the list in 2017, and the foundation day of the Smart City Mission was held on 25 June 2019 by the former Chief Minister of Uttarakhand, Trivendra Singh Rawat. The Smart City Mission is a bold and new initiative of the government of India which aims to improve the living quality of the citizens of India.<br/><br/><br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// Keypoints<br/>
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 28px;
 word-wrap: break-word
---
// <br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// Provide citizens with application solutions that are smart, such as e-governance and tax payment systems.<br/>Ensure that the city is developed sustainably. 10 out of the 60 wards in Dehradun are covered by the Smart City Mission.
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
//  Jhansi Smart City Project
color: black;
 font-size: 48px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// <br/>What is Jhansi Smart City?<br/>
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// <br/>JThe early history of the Jhansi is connected with the region, which was known at different times as Chedidesha, Chedi-rashtra or Chedi Janapada, Jejakbhukti, Jejahuti or Jajhotl and Bundelakhand.hansi in Uttar Pradesh (India) is one of the shortlisted cities selected in 3rd round from the total 100 shortlisted cities by Ministry of Urban Development. Jhansi Smart City envisages establishing various initiatives with strong Information & Communication Technology (ICT)
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// backbone for seamless experience for residents, employees and other stakeholders with reduced energy consumption and reduced environmental stress. Jhansi smart city involves ICT solutions on Sensors data analysis, Video Data analysis, Internet of Things (IoT), Citizen centric applications, Spatial Information Management. JSCL had appointed KPMG as the Consortium Partner of Master System Integrator for implementation of Integrated Command and Control Centre in Multiple Capacities at Jhansi.<br/><br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// <br/><br/>Keypoints<br/><br/>
color: black;
 font-size: 30px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 24px;
 word-wrap: break-word
---
// It will improve the quality of life of people by enabling local area development and harnessing technology, especially technology that leads to Smart outcomes. The SCM will improve infrastructure and services (i.e., housing, water supply, sanitation, electricity supply, health, education, mobility, safety and security, IT connectivity and digitalization), while maintaining a clean and sustainable environment, and strengthening urban governance.<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
color: black;
 font-size: 25px;
 font-family: Rokkitt;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Benefits of Smart City Mission
color: black;
 font-size: 40px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 48px;
 word-wrap: break-word
---
// 🌎
color: black;
 font-size: 37.50px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 60px;
 word-wrap: break-word
---
// Environmental Sustainability
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// Reduced carbon footprint
color: rgba(0, 0, 0, 0.50);
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 🏢
color: black;
 font-size: 37.50px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 60px;
 word-wrap: break-word
---
// Efficient Infrastructure
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// Smart management of utilities
color: rgba(0, 0, 0, 0.50);
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 🌎
color: black;
 font-size: 37.50px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 60px;
 word-wrap: break-word
---
// Many Employment Opportunities
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// Reduces Poverty
color: rgba(0, 0, 0, 0.50);
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 🏢
color: black;
 font-size: 37.50px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 60px;
 word-wrap: break-word
---
// Improved Transport System
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// Reduces Traffic 
color: rgba(0, 0, 0, 0.50);
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 🌎
color: black;
 font-size: 37.50px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 60px;
 word-wrap: break-word
---
//  Smart initiates 
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// Reduces cost of infrastructure
color: rgba(0, 0, 0, 0.50);
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Stay Updated with Smart City Mission
color: black;
 font-size: 40px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 48px;
 word-wrap: break-word
---
// Connect and share your experiences
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Smart City Mission
color: black;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 20px;
 word-wrap: break-word
---
// 2 hours ago - Karnataka
color: rgba(0, 0, 0, 0.50);
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// •••
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Smart City Mission transforming Hubbali and Belagavi in Karnataka
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Smart City
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Tech
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// #karnataka
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// 📷
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// ✨
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Smart City Mission
color: black;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 20px;
 word-wrap: break-word
---
// 02.09.23 - Jammu and Kashmir
color: rgba(0, 0, 0, 0.50);
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// •••
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Attending a smart city conference
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Learning about the latest advancements in urban planning.<br/>
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Conference
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Urban Planning
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// #jammu
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// 📷
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// ✨
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Smart City Mission
color: black;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 20px;
 word-wrap: break-word
---
// 19.09.23 - Jhansi
color: rgba(0, 0, 0, 0.50);
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// •••
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Safe city project meeting at divisional commissioner office.
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Conference
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// Urban Planning
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// 📷
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// ✨
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Smart City Mission 
color: black;
 font-size: 14px;
 font-family: Roboto;
 font-weight: 500;
 line-height: 20px;
 word-wrap: break-word
---
// 07.09.23 - Coimbatore
color: rgba(0, 0, 0, 0.50);
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// •••
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Installation of LED streetlights under Smart City Mission to resume in Coimbatore.
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// LED street lights
color: black;
 font-size: 12px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Urban Planning
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word
---
// 📷
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// ✨
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// "National Progress - Smart Cities Mission"<br/>
color: black;
 font-size: 57px;
 font-family: Roboto;
 font-style: italic;
 font-weight: 800;
 line-height: 16px;
 word-wrap: break-word
---
// <br/><br/><br/><br/><br/>                                          
color: black;
 font-size: 64px;
 font-family: Roboto;
 font-style: italic;
 font-weight: 800;
 line-height: 16px;
 word-wrap: break-word
---
// National Weekly Report<br/><br/>                                                                              
color: #0487FF;
 font-size: 36px;
 font-family: Roboto;
 font-style: italic;
 font-weight: 800;
 line-height: 16px;
 word-wrap: break-word
---
// 03 November 2023
color: #0487FF;
 font-size: 24px;
 font-family: Roboto;
 font-style: italic;
 font-weight: 800;
 line-height: 16px;
 word-wrap: break-word
---
// What People Are Saying
color: black;
 font-size: 40px;
 font-family: Roboto;
 font-weight: 700;
 line-height: 48px;
 word-wrap: break-word
---
// LG Manoj Sinha
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Srinagar Smart City is a role model for other cities of the country.
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 👍
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 💬
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Shailesh K. PATHAK<br/>FICCI SG. Public Policy | Cities | Infrastructure | Finance
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Smart Cities Mission: good design = good outcomes
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 👍
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 💬
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// PM Narendra Modi
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// Urbanisation can mitigate poverty.
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 👍
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// 💬
color: black;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word
---
// © 2023 Smart City Mission
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// Privacy Policy
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word
---
// Terms of Service
color: black;
 font-size: 20px;
 font-family: Roboto;
 font-weight: 400;
 line-height: 28px;
 word-wrap: break-word